/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* MAIN COLOR: #087f5b */
/* GREY COLOR : #343a40  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Mooli", sans-serif;
}

/* body {
  /* display: flex;
  justify-content: space-between;
  position: relative; */
/* } */ */
.load-in {
  display: none;
}

.first-load-screen {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.color-container {
  height: 500px;
  width: 1000px;
  margin: 0px auto;
}

/* .create-link,
.login-link {
  margin-bottom: 15px;
  display: inline-block;
  padding: 15px;
} */

/* .logout-login {
  justify-content: flex-end;
} */

.btn {
  background-color: #228be6;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 7px;
  font-weight: 200;
  border-radius: 12px;
  font-family: sans-serif;
}

/* .logout-btn,
.login-btn {
  display: inline-block;
} */
.left-container {
  width: 50%;
  height: 800px;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container {
  width: 50%;
  height: 800px;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-txt {
  display: grid;
  grid-template-columns: 400px;
  row-gap: 30px;
}
.color-picker-msg {
  font-size: 70px;
  font-weight: bold;
}
.opening-msg {
  font-size: 20px;
  justify-self: center;
}

.create-window {
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: white;
  top: 50px;
  left: 680px;
  border: 2px solid #dee2e6;
  border-radius: 15px;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.116);
  opacity: 1;
  z-index: 900;
}
.x {
  height: 40px;
  width: 40px;
  background-color: red;
  color: white;
  cursor: pointer;
  border: 2px white solid;
  border-radius: 10px;
  font-size: 20px;
}
.create-grid {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  margin-top: 70px;
}

.create-user-input,
.create-number-input,
.create-pass-input,
.create-email-input {
  height: 40px;
  width: 300px;
  border: solid 2px #ced4da;
  border-radius: 5px;
  padding-left: 10px;
  font-family: sans-serif;
}

.create-window-btn {
  margin-top: 20px;
  background-color: #37b24d;
  height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 7px;
  font-weight: 200;
  border-radius: 12px;
  border: none;
  font-family: sans-serif;
}
.user-error-msg,
.num-error-msg,
.pass-error-msg,
.email-error-msg {
  justify-self: center;
  font-size: 12px;
  /* color: red; */
}

.create-hidden {
  display: none;
}
.trans-class {
  opacity: 0.2;
}

nav {
  /* margin-bottom: 30px; */
  /* height: 140px; */

  /* grid-template-rows: 70px 70px; */
  row-gap: 10px;
  border: 2px solid #dee2e6;
  border-radius: 15px;
  padding: 50px 50px;
  height: 500px;
  width: 500px;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.116);
  background-color: white;

  /* background-color: red; */
}
.grid-container {
  display: grid;
  row-gap: 10px;
}
.username-input {
  align-self: end;
}

.password-input,
.username-input {
  border: solid 2px #ced4da;
  border-radius: 5px;
  width: 285px;
  height: 40px;
  justify-self: center;
  padding-left: 10px;
  font-family: sans-serif;
}

.create-btn {
  /* padding: 5px 10px; */
  background-color: #37b24d;
  height: 70px;
  width: 300px;
  align-self: start;
  justify-self: center;
  font-size: 25px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.151);
  margin-top: 25px;
  border: none;
}
.login-btn {
  /* padding: 5px 10px; */
  margin-top: 20px;
  height: 50px;
  align-self: center;
  width: 350px;
  justify-self: center;
  border: none;
}
.error-message {
  align-self: center;
  justify-self: center;
}
